@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
body header {
  width: 100%;
  height: 10vh;
  background: #222222;
  display: flex;
  align-items: center; /* Центрирует содержимое по вертикали */
}
body header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
body header ul li a {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.4s ease;
}
body header ul li a:hover {
  color: #ff5e00;
  transition: all 0.5s ease;
}
body p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 56px;
}
body .container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-inline: auto;
  padding: 30px;
  box-sizing: border-box;
}
body .container span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}
body .container span:nth-child(1) {
  padding-bottom: 20px;
}
body .container .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
body .container .inputs input, body .container .inputs span {
  width: 90px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
body .container .inputs span {
  width: 290px;
  font-size: 32px;
}
body .container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
body .container .buttons button {
  background-color: #ff5e00;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  margin: 3px;
  transition-property: #ff5e00, #FFFFFF;
  transition-duration: 3s;
  transition-delay: 0s, 1s;
  transition-timing-function: cubic-bezier(0.1, 0.8, 0.5, 2), linear;
}
body .container .buttons button:hover {
  background-color: #FF8C00;
}/*# sourceMappingURL=main.css.map */